{% extends 'layout.html' %}
{% block content %}
    <!-- display the form -->
    <div class='content-section offset-lg-4'>
        <form method='POST' action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Find rare birds near you!</legend>
                <div class="form-group">
                    {{ form.bird.label(class="form-control-label") }}
                    {% if form.bird.errors %}
                        {{ form.bird(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.bird.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.bird(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.state.label(class="form-control-label") }}
                    {% if form.state.errors %}
                        {{ form.state(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.state.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.state(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.county.label(class="form-control-label") }}
                    {% if form.county.errors %}
                        {{ form.county(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.county.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.county(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.season.label(class="form-control-label") }}
                    {% if form.season.errors %}
                        {{ form.season(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.season.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.season(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}
{% block script %}
    <script>
        let state_select = document.getElementById('state');
        let county_select = document.getElementById('county');

        state_select.onchange = function() {
            state = state_select.value;

            fetch('/county/' + state).then(function(response) {
                response.json().then(function(data) {
                    console.log(Object.keys(data))
                    let optionHTML = '';
                    for (let county of data.counties) {
                        console.log(county)
                        optionHTML += '<option value="' + county.id + '">' + county.name + '</option>';
                    }

                    county_select.innerHTML = optionHTML;

                })
            })

        }
    </script>
{% endblock script %}