{% extends "layout.html" %}
{% block content %}
    <h1>Bird Check Home!</h1>
    <!-- Dropdown form with birds, seasons, and regions -->
    <form action="" method="POST">
        <!-- Bird Selection Div-->
        <div>
        {{ form.bird.label }}
        {{ form.bird }}
        </div>
        <!-- Season Selection Div-->
        <div>
        {{ form.season.label }}
        {{ form.season }}
        </div>
        <!-- State Selection Div-->
        <div>
        {{ form.state.label }}
        {{ form.state }}
        </div>
        <!-- County Selection Div-->
        <div>
        {{ form.county.label }}
        {{ form.county }}
        </div>
    </form>

{% endblock content %}