{% extends "layout.html" %}
{% block content %}
    <h1>Bird Check Home!</h1>
    <!-- Dropdown form with birds, seasons, and regions -->
    <form action="" method="POST">
        {{ form.bird.label }}
        {{ form.season.label }}
        {{ form.state.label }}
        {{ form.county.label }}
        <!-- Bird Dropdown
        <label for="bird">Bird</label>
        <select name="bird" id="bird">
        {% for bird in birds %}
            <option value={{ bird.bird }}>{{ bird.bird }}</option>
        {% endfor %}
        </select>
         Season Dropdown
        <label for="season">Season</label>
        <select name="season" id="season">
        {% for season in seasons %}
            <option value={{ season.season }}>{{ season.season }}</option>
        {% endfor %}
        </select>
         Season Dropdown
        <label for="region">Region</label>
        <select name="region" id="region">
        {% for region in regions %}
            <option value={{ region.region }}>{{ region.region }}</option>
        {% endfor %}
        </select>
        <input type="submit" value="Submit">
        -->
    </form>

{% endblock content %}